* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

body {
  text-align: center;
}

.row {
  margin: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #f8f8f8;
  margin-right: 5px;
  transition: box-shadow ease-out .1s;
  border: 1px solid #ccc;
  box-shadow: none;
}

.cell.enabled {
  border: none;
  box-shadow: 1px 1px 1px #aaa;
}

.cell.enabled.guess-false,
.cell.enabled.guess-true {
  box-shadow: none;
}

.active {
  background-color: #058BDA;
  box-shadow: none;
}

.guess-true {
  background-color: #00CC00;
  box-shadow: none;
  border: none;
}

.guess-false {
  background-color: #CC0000;
  box-shadow: none;
  border: none;
}

.guess-letter {
  padding: 0;
  margin: 0;
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-style: normal;
}

.word-box {
  color: gray;
}

.word {
  text-transform: uppercase;
  font-style: normal;
  color: black;
  font-weight: bold;
}

.hint {
  padding: 15px;
  opacity: 1;
}

.hint.ready {
  animation: fadeOut 3s;
  opacity: 0;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
